<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Регистрация - Мониторинг Калорий</title>
</head>
<body>
    <div class="wrapper">
        <div class="register" style="background-image: url('{% static 'images/bgregister.jpg' %}');">
            <div class="register_bg">
                <form class="register_start" method="post" action="{% url 'signup' %}" novalidate>
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            {% for error in form.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="register_text">
                        <h2>Мониторинг Калорий</h2>
                        <p>Регистрация</p>
                    </div>
                    <div class="register_inputs">
                        <div class="register_name ref_input">
                            <i class="fa-solid fa-user"></i>
                            <input type="text" name="username" placeholder="Имя пользователя" value="{{ form.username.value|default_if_none:'' }}">
                            {% if form.username.errors %}
                                <div class="error">{{ form.username.errors.as_text }}</div>
                            {% endif %}
                        </div>
                        <div class="register_password ref_input">
                            <i class="fa-solid fa-key"></i>
                            <input type="password" name="password1" placeholder="Пароль">
                            {% if form.password1.errors %}
                                <div class="error">{{ form.password1.errors.as_text }}</div>
                            {% endif %}
                        </div>
                        <div class="register_password ref_input">
                            <i class="fa-solid fa-key"></i>
                            <input type="password" name="password2" placeholder="Подтвердите пароль">
                            {% if form.password2.errors %}
                                <div class="error">{{ form.password2.errors.as_text }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="register_links">
                        <button type="submit">Зарегистрироваться</button>
                        <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
