<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block style %}
    	
    {% endblock %}
    <title>{% block title %}

    {% endblock %}</title>
</head>

<body>
    <div class="wrapper">
        <div class="navbar">
            <div class="navbar_start">
                <div class="menu-btn">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <div class="menu-items">
                    <div class="nav__link">
                        <div class="menu-top">
                            <div class="menu_user">
                                <div class="manu_user-start">
                                    <i class="fa-solid fa-user"></i>
                                    <p>{{ user.username }}</p>
                                </div>
                            </div>

                        </div>
                        <div class="menu_bottom">
                            <div class="menu_bottom-start">
                                <div style="gap: 20px" class="menu_bottom-box">
                                    <a style="text-decoration: none; color: white" href="{% url 'home' %}">
                                        <i class="fa-solid fa-house"></i>
                                        Главная
                                    </a>
                                </div>
                                <div style="gap: 20px" class="menu_bottom-box">
                                    <a style="text-decoration: none; color: white" href="{% url 'cart' %}">
                                        <i class="fa-regular fa-note-sticky"></i>
                                        Мои калории
                                    </a>
                                </div>
                                <div style="align-items: center ; gap: 5px" class="menu_bottom-box">
<i class="fa-solid fa-right-from-bracket"></i>                                    <form action="{% url 'logout' %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn-logout" style="background: none; border: none; cursor: pointer; color: inherit; padding: 0; font: inherit;">
                                            Выйти
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {% block page_name %}
                    <a style="text-decoration: none; color: white" href="{% url 'home' %}">Главная</a>
                {% endblock %}
                <div class="point">

                </div>
            </div>

        </div>
        <div class="content">
            {% block content %}

            {% endblock %}
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
    {% block script %}
    	
    {% endblock %}
</body>

</html>
